body {
    background-color: #f3d2c1;
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ms_table * {
    background-color: #001858;
    color: #fef6e4;
}