body {
    background-color: #f3d2c1;
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ms_form {
    background-color: #fef6e4;
    padding: 10px 20px;
}

.ms_label {
    font-weight: bold;
    color: #f582ae;
}

.ms_button,
.ms_button:first-child:active,
.ms_button:active,
.ms_button:hover,
.ms_button:focus,
.ms_button:checked,
.ms_button:focus-visible {
    background-color: #8bd3dd;
    color: #001858;
    border-color: #001858;
    outline: none;
    box-shadow: none;
}

#ms_table * {
    background-color: #001858;
    color: #fef6e4;
}